# **Taller 2**

## **Vizualización para analpitica de datos**

### **Maestría en Analítica de Datos**

**Facultad de Ingeniería y Ciencias Básicas.**

**Universidad Central**

> **Integrantes:**

>>***1. Brayan Holman Paez Perez***

>>***2. Michel Esteven Céspedes Medina***

>>***3. Andres Felipe Mejía Gonzalez***


> **Profesor:**

>>***Miguel Rippe***

## Librerias

In [1]:
import numpy             as np
import pandas            as pd
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats
from datetime import date
from datetime import datetime
from datetime import timedelta
import plotly.express as px
from kpi_ap import *
import warnings
warnings.filterwarnings('ignore')

## Lectura dela base de datos

In [2]:
url_carpeta='C:/Users/Bluetab/Documents/Universidad/Archivos 2doSemestre/Visualizacion/'
url=url_carpeta+'application_record.csv'
# url='application_record.csv'
df = pd.read_csv(url)
df_dash = pd.read_csv(url)
df2= pd.read_csv(url_carpeta+'credit_record.csv')

In [3]:
kpi_figura=kpi_fig(df2,df)

In [4]:
df['AMT_INCOME_TOTAL'].min()

26100.0

### Exploracion de los datos

In [5]:
print('Cantidad de ID unicos en la base de datos demografica \n',len(set(df['ID'])))

print('\nCantidad de ID unicos en la base de datos de historial crediticio \n',len(set(df2['ID'])))

print('\nCantidad de ID unicos que comparten ambas bases de datos\n',len(set(df['ID']).intersection(set(df2['ID']))))

Cantidad de ID unicos en la base de datos demografica
 438510

Cantidad de ID unicos en la base de datos de historial crediticio
 45985

Cantidad de ID unicos que comparten ambas bases de datos
 36457

In [6]:
df3 = df2[df2.ID.isin(df.ID.unique())]
df3

              ID  MONTHS_BALANCE STATUS
92938    5008804               0      C
92939    5008804              -1      C
92940    5008804              -2      C
92941    5008804              -3      C
92942    5008804              -4      C
...          ...             ...    ...
1048570  5150487             -25      C
1048571  5150487             -26      C
1048572  5150487             -27      C
1048573  5150487             -28      C
1048574  5150487             -29      C

[777715 rows x 3 columns]

In [7]:
df3.pivot('ID','MONTHS_BALANCE',values='STATUS')

MONTHS_BALANCE,-60,-59,-58,-57,-56,-55,-54,-53,-52,-51,...,-9,-8,-7,-6,-5,-4,-3,-2,-1,0
ID,,,,,,,,,,,,,,,,,,,,,
5008804,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,C,C,C,C,C,C,C,C,C,C
5008805,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,C,C,C,C,C,C,C,C,C,C
5008806,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,X,C,C,C,C,C,C,C
5008808,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,X,X,0,X,0
5008809,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5150482,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5150483,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,X,X,X,X,X,X,X,X,X,X
5150484,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,C
5150485,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
5150487,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,C,C,C,C,C,C,C,C,C,C

### Cambiar nombre de las columnas

In [8]:
df.columns

Index(['ID', 'CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN',
       'AMT_INCOME_TOTAL', 'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE',
       'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE', 'DAYS_BIRTH',
       'DAYS_EMPLOYED', 'FLAG_MOBIL', 'FLAG_WORK_PHONE', 'FLAG_PHONE',
       'FLAG_EMAIL', 'OCCUPATION_TYPE', 'CNT_FAM_MEMBERS'],
      dtype='object')

In [9]:
renombrar = {'CODE_GENDER': 'GENERO',
            'FLAG_OWN_CAR': 'VEHICULO',
            'FLAG_OWN_REALTY': 'PROPIEDADES',
            'CNT_CHILDREN': 'CANT_HIJOS',
            'AMT_INCOME_TOTAL': 'ING_TOTAL_ANUAL',
            'NAME_INCOME_TYPE': 'ORIGEN_INGRESO',
            'NAME_EDUCATION_TYPE': 'NIV_ESTUDIO',
            'NAME_FAMILY_STATUS':  'ESTADO_CIVIL',
            'NAME_HOUSING_TYPE': 'T_VIVIENDA',
            'DAYS_BIRTH' : 'EDAD',
            'DAYS_EMPLOYED': 'EMPLEADO',
            'FLAG_MOBIL': 'TIENE_CEL',
            'FLAG_WORK_PHONE': 'TIENE_TEL_TRJ',
            'FLAG_PHONE': 'TIENE_TELFIJO',
            'FLAG_EMAIL': 'TIENE_EMAIL',
            'OCCUPATION_TYPE':'T_OCUPACION',
            'CNT_FAM_MEMBERS': 'CANT_FAM'
           }
df.columns = [renombrar.get(x, x) for x in df.columns] 
df_dash.columns = [renombrar.get(x, x) for x in df.columns]

In [10]:
df.head()

,ID,GENERO,VEHICULO,PROPIEDADES,CANT_HIJOS,ING_TOTAL_ANUAL,ORIGEN_INGRESO,NIV_ESTUDIO,ESTADO_CIVIL,T_VIVIENDA,EDAD,EMPLEADO,TIENE_CEL,TIENE_TEL_TRJ,TIENE_TELFIJO,TIENE_EMAIL,T_OCUPACION,CANT_FAM
0,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,NaN,2.0
1,5008805,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,NaN,2.0
2,5008806,M,Y,Y,0,112500.0,Working,Secondary / secondary special,Married,House / apartment,-21474,-1134,1,0,0,0,Security staff,2.0
3,5008808,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1.0
4,5008809,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1.0

### Arreglar datos.

In [11]:
renombrar_ori_ingreso = {'Working': 'Trabajador',
            'Commercial associate': 'Asociado comercial',
            'Pensioner': 'Pensionado',
            'State servant': 'Servidor publico',
            'Student': 'Estudiante'
           }
renombrar_niv_estudio = {'Higher education': 'Educación superior',
            'Secondary / secondary special': 'Especial secundario/secundario',
            'Incomplete higher': 'Superior incompleto',
            'Lower secondary': 'Secundaria inferior',
            'Academic degree': 'Grado académico'
           }
renombrar_estado_civil = {'Civil marriage': 'Matrimonio civil',
            'Married': 'Casado',
            'Single / not married': 'Soltero',
            'Separated': 'Separado',
            'Widow': 'Viudo'
           }
renombrar_vivienda = {'Rented apartment': 'Apartamento alquilado',
            'House / apartment': 'Casa/apartamento',
            'Municipal apartment': 'Piso municipal',
            'Co-op apartment': 'Apt compartido',
            'Office apartment': 'Apartamento oficina',
            'With parents': 'Con padres'
           }
renombrar_ocupacion = {'Security staff': 'Personal de seguridad',
            'Sales staff': 'Personal de ventas',
            'Accountants': 'Contadores',
            'Laborers': 'Trabajadores',
            'Managers': 'Gerentes',
            'Drivers': 'Conductores',
            'Core staff': 'Personal básico',
            'High skill tech staff':  'Personal de alta tecnología de alta cualificación',
            'Cleaning staff': 'Personal de limpieza',
            'Private service staff' : 'Personal de servicio privado',
            'Cooking staff': 'Personal de cocina',
            'Low-skill Laborers': 'Trabajadores de baja cualificación',
            'Medicine staff': 'Personal de medicina',
            'Secretaries': 'Secretarios',
            'Waiters/barmen staff': 'Camareros',
            'HR staff':'Personal de recursos humanos',
            'Realty agents': 'Agentes de bienes raíces',
            'IT staff': 'Personal de TI'
           }
df.ORIGEN_INGRESO = [renombrar_ori_ingreso.get(x, x) for x in df.ORIGEN_INGRESO]
df.NIV_ESTUDIO = [renombrar_niv_estudio.get(x, x) for x in df.NIV_ESTUDIO] 
df.ESTADO_CIVIL = [renombrar_estado_civil.get(x, x) for x in df.ESTADO_CIVIL] 
df.T_VIVIENDA = [renombrar_vivienda.get(x, x) for x in df.T_VIVIENDA] 
df.T_OCUPACION = [renombrar_ocupacion.get(x, x) for x in df.T_OCUPACION] 

df_dash.ORIGEN_INGRESO = [renombrar_ori_ingreso.get(x, x) for x in df.ORIGEN_INGRESO]
df_dash.NIV_ESTUDIO = [renombrar_niv_estudio.get(x, x) for x in df.NIV_ESTUDIO] 
df_dash.ESTADO_CIVIL = [renombrar_estado_civil.get(x, x) for x in df.ESTADO_CIVIL] 
df_dash.T_VIVIENDA = [renombrar_vivienda.get(x, x) for x in df.T_VIVIENDA] 
df_dash.T_OCUPACION = [renombrar_ocupacion.get(x, x) for x in df.T_OCUPACION]

In [12]:
df.EDAD = [-n//360 for n in df.EDAD]
df.GENERO = [1 if n=='F' else 0 for n in df.GENERO]
df.VEHICULO = [1 if n=='Y' else 0 for n in df.VEHICULO]
df.PROPIEDADES = [1 if n=='Y' else 0 for n in df.PROPIEDADES]
df.EMPLEADO = [8280 if n==365243 else n for n in df.EMPLEADO]
df.EMPLEADO = [-n//360 for n in df.EMPLEADO]

In [13]:
df.head()

,ID,GENERO,VEHICULO,PROPIEDADES,CANT_HIJOS,ING_TOTAL_ANUAL,ORIGEN_INGRESO,NIV_ESTUDIO,ESTADO_CIVIL,T_VIVIENDA,EDAD,EMPLEADO,TIENE_CEL,TIENE_TEL_TRJ,TIENE_TELFIJO,TIENE_EMAIL,T_OCUPACION,CANT_FAM
0,5008804,0,1,1,0,427500.0,Trabajador,Educación superior,Matrimonio civil,Apartamento alquilado,33,12,1,1,0,0,NaN,2.0
1,5008805,0,1,1,0,427500.0,Trabajador,Educación superior,Matrimonio civil,Apartamento alquilado,33,12,1,1,0,0,NaN,2.0
2,5008806,0,1,1,0,112500.0,Trabajador,Especial secundario/secundario,Casado,Casa/apartamento,59,3,1,0,0,0,Personal de seguridad,2.0
3,5008808,1,0,1,0,270000.0,Asociado comercial,Especial secundario/secundario,Soltero,Casa/apartamento,53,8,1,0,1,1,Personal de ventas,1.0
4,5008809,1,0,1,0,270000.0,Asociado comercial,Especial secundario/secundario,Soltero,Casa/apartamento,53,8,1,0,1,1,Personal de ventas,1.0

In [14]:
df.describe().round(2)

,ID,GENERO,VEHICULO,PROPIEDADES,CANT_HIJOS,ING_TOTAL_ANUAL,EDAD,EMPLEADO,TIENE_CEL,TIENE_TEL_TRJ,TIENE_TELFIJO,TIENE_EMAIL,CANT_FAM
count,438557.00,438557.00,438557.00,438557.00,438557.00,438557.00,438557.00,438557.00,438557.0,438557.00,438557.00,438557.00,438557.00
mean,6022176.27,0.67,0.37,0.69,0.43,187524.29,43.94,1.67,1.0,0.21,0.29,0.11,2.19
std,571637.02,0.47,0.48,0.46,0.72,110086.85,11.62,12.77,0.0,0.40,0.45,0.31,0.90
min,5008804.00,0.00,0.00,0.00,0.00,26100.00,20.00,-23.00,1.0,0.00,0.00,0.00,1.00
25%,5609375.00,0.00,0.00,0.00,0.00,121500.00,34.00,1.00,1.0,0.00,0.00,0.00,2.00
50%,6047745.00,1.00,0.00,1.00,0.00,160780.50,43.00,4.00,1.0,0.00,0.00,0.00,2.00
75%,6456971.00,1.00,1.00,1.00,1.00,225000.00,54.00,8.00,1.0,0.00,1.00,0.00,3.00
max,7999952.00,1.00,1.00,1.00,19.00,6750000.00,70.00,48.00,1.0,1.00,1.00,1.00,20.00

In [15]:
pensionados = df[df['EMPLEADO']==(8280//360)]['EDAD'].unique()
pensionados

array([60, 54, 42, 49, 44, 58, 51, 53, 47, 45, 55, 43, 48, 46, 50, 61, 52,
       56, 59, 41, 63, 57, 65, 62, 64], dtype=int64)

In [16]:
df.dtypes

ID                   int64
GENERO               int64
VEHICULO             int64
PROPIEDADES          int64
CANT_HIJOS           int64
ING_TOTAL_ANUAL    float64
ORIGEN_INGRESO      object
NIV_ESTUDIO         object
ESTADO_CIVIL        object
T_VIVIENDA          object
EDAD                 int64
EMPLEADO             int64
TIENE_CEL            int64
TIENE_TEL_TRJ        int64
TIENE_TELFIJO        int64
TIENE_EMAIL          int64
T_OCUPACION         object
CANT_FAM           float64
dtype: object

In [17]:
## SE ELEMINA ESTA COLUMNA DEL DATAFRAME YA QUE TIENE EL MISMO VALOR EN TODAS SUS FILAS,
## DE MANERA QUE NO REPRESANTE CARACTERIZACION ALGUNA 
del(df['TIENE_CEL'])

## Generar tabla objetivo (KPI)

In [18]:
primer_mes=pd.DataFrame(df2.groupby(["ID"])["MONTHS_BALANCE"].agg(min))
primer_mes=primer_mes.rename(columns={'MONTHS_BALANCE':'Mes_Apertura'})

datos=pd.merge(df,primer_mes,on="ID")

df2['Seleccionador'] = None
df2['Seleccionador'][df2['STATUS'] =='2']='Yes' 
df2['Seleccionador'][df2['STATUS'] =='3']='Yes' 
df2['Seleccionador'][df2['STATUS'] =='4']='Yes' 
df2['Seleccionador'][df2['STATUS'] =='5']='Yes'

cpunt=df2.groupby('ID').count()

cpunt['Seleccionador'][cpunt['Seleccionador'] > 0]='Si' 
cpunt['Seleccionador'][cpunt['Seleccionador'] == 0]='No'

cpunt = cpunt[['Seleccionador']]

datos=pd.merge(datos,cpunt,how='inner',on='ID')
datos['Objetivo']=datos['Seleccionador']

datos.loc[datos['Objetivo']=='Si','Objetivo']=1
datos.loc[datos['Objetivo']=='No','Objetivo']=0

In [19]:
df2.groupby('ID').count()

         MONTHS_BALANCE  STATUS  Seleccionador
ID
5001711               4       4              0
5001712              19      19              0
5001713              22      22              0
5001714              15      15              0
5001715              60      60              0
...                 ...     ...            ...
5150482              18      18              0
5150483              18      18              0
5150484              13      13              0
5150485               2       2              0
5150487              30      30              0

[45985 rows x 3 columns]

# Dash

In [20]:
dict_columns={}
dict_columns['GENERO']='GENERO: Género del cliente.'
dict_columns['VEHICULO']='VEHICULO: Indica si el cliente tiene carro propio.'
dict_columns['PROPIEDADES']='PROPIEDADES: Indica si el cliente posee bienes raíces.'
dict_columns['CANT_HIJOS']='CANT_HIJOS: Indica la cantidad de hijos del cliente.'
dict_columns['ING_TOTAL_ANUAL']='ING_TOTAL_ANUAL: Ingreso del cliente durante el año.'
dict_columns['ORIGEN_INGRESO']='ORIGEN_INGRESO: Origen de los ingresos percibidos por el cliente.'
dict_columns['NIV_ESTUDIO']='NIV_ESTUDIO: Nivel de estudio del cliente.'
dict_columns['ESTADO_CIVIL']='ESTADO_CIVIL: Estado civil del cliente.'
dict_columns['T_VIVIENDA']='T_VIVIENDA: Indica el tipo de vivienda en la cual habita el cliente.'
dict_columns['EMPLEADO']='EMPLEADO: Indica el numero de días desde que el cliente es desempleado, \
si el cliente esta desempleado el indicador seria positivo y el número mostraria los dias que \
lleva en esa situación. Ejemplo: Un Cliente con 30 indica que lleva desempleado 30 dias.'
dict_columns['TIENE_CEL']='TIENE_CEL: Indica si el cliente tiene celular.'
dict_columns['TIENE_TEL_TRJ']='TIENE_TEL_TRJ: Indica si el cliente tiene teléfono laboral.'
dict_columns['TIENE_TELFIJO']='TIENE_TELFIJO: Indica si el cliente tiene teléfono residencial.'
dict_columns['TIENE_EMAIL']='TIENE_EMAIL: Indica si el cliente tiene correo electrónico.'
dict_columns['T_OCUPACION']='T_OCUPACION: Tipo de actividad que desempeña el cliente.'
dict_columns['CANT_FAM']='CANT_FAM: Cantidad de miembros del nucleo familiar del cliente.'
dict_columns['MONTHS_BALANCE']='MONTHS_BALANCE: Antiguedad del reporte de la categoria de habito de pago \
generada para el cliente. Por ejemplo si el valor es -2 significa \
que hace referencia a la calificacion del cliente dos meses antes del mes actual'
dict_columns['STATUS']='STATUS: Categoría de hábito de pago del cliente:\
 0: 1-29 días atrasados.                                            \
 1: 30-59 días atrasados.                                           \
 2: 60-89 días atrasados.                                           \
 3: 90-119 días atrasados.                                           \
 4: 120-149 días atrasados.                                           \
 5: Deudas vencidas o incobrables, cancelaciones por más de 150 días.                                                                 \
 C: Cancelado ese mes.                                            \
 X: Sin préstamo durante el mes.'

In [24]:
from jupyter_dash import JupyterDash
import plotly_express as px
import dash_core_components as dcc
import dash_html_components as html
from dash.dependencies import Input, Output
from plotly import graph_objs as go
import dash_table
import plotly.figure_factory as ff
import matplotlib
import dash_bootstrap_components as dbc
import datetime
url='https://www.crisfe.com/wp-content/uploads/2018/08/logo-universidad-central_crisfe.png'

import pickle
with open('modelo.pkl', 'rb') as file:
    miprimeralogistica = pickle.load(file)


rgb_colors = {}
for name, hex in matplotlib.colors.cnames.items():
    rgb_colors[name] = matplotlib.colors.to_hex(hex)

try:
    del(df_dash['TIENE_CEL'])
except:
    print('n')


df3['count']=1
df_g=df_dash.groupby(['GENERO','NIV_ESTUDIO'])['ING_TOTAL_ANUAL'].mean('ING_TOTAL_ANUAL').reset_index()
fig1 = px.sunburst(df_g, path=['NIV_ESTUDIO','GENERO'], values='ING_TOTAL_ANUAL')

df5=df3.groupby(['STATUS','MONTHS_BALANCE'])['MONTHS_BALANCE'].count().reset_index(name = 'count')
fig2=px.histogram(df5,x=['STATUS'],y='count',title='STATUS Count',labels={'value':'Categoría de hábito de pago'})

pie=['STATUS']
fig_2_1 = px.pie(df3,'STATUS',title='STATUS %')


imagen_nombres=html.Div([
       html.Div( html.Img(src=url,style={'height':'150px', 'width':'150 px'}),style={'display':'inline-block','float':'left'}),
        html.Div([
            html.Label('Felipe Mejia ',style={"margin-left": "20px",'display':'block','font-size': '15pt'}),
            html.Label('Michel Cespedes ',style={"margin-left": "20px",'display':'block','font-size': '15pt'}),
            html.Label('Brayan Paez ',style={'height':'80px',"margin-left": "20px",'display':'block','font-size': '15pt'}),
            html.Label('Informacion tomada de https://www.kaggle.com/rikdifos/credit-card-approval-prediction ',style={"margin-left": "20px",'display':'block','font-size': '10pt'})
        ],style={'display':'inline-block','float':'left'})
    
],style={'display':'block'})

###############PIE
pie=html.Div([ html.Div([html.Div(
        html.H1(children='Integrantes',
           style={
            'textAlign': 'center',
            'backgroundColor': rgb_colors['steelblue'],
            'background-size': '300px 300px', 
            'color': rgb_colors['white'], 'marginTop':100,'marginBottom': 10}),style={'display': 'block','margintop':350})
    ,
                         imagen_nombres 
 ])],
              className="row")

###############Encabezado
encabezado=html.H1(children='Predicción de riesgo para aprobación de tarjetas de crédito',
           style={
            'textAlign': 'center',
            'backgroundColor': rgb_colors['steelblue'],
               'background-size': '400px 300px', 
             'color': rgb_colors['white'], 'marginTop':0,'marginBottom': 10})

###############Menu de pestañas
menu_tab= dcc.Tabs(
        id="tabs-with-classes",
        value='tab-1',
        parent_className='custom-tabs',
        className='custom-tabs-container',
        children=[
            dcc.Tab(
                label='Descripción',
                value='tab-1',
                className='custom-tab',
                selected_className='custom-tab--selected',
                style={'backgroundColor': rgb_colors['lightseagreen'],'fontWeight': 'bold','font-size': '15pt','color': rgb_colors['white']},
                selected_style ={'backgroundColor': rgb_colors['lightsalmon'],'fontWeight': 'bold','font-size': '15pt'}
            ),
            dcc.Tab(
                label='Exploracion datos demograficos',
                value='tab-2',
                className='custom-tab',
                selected_className='custom-tab--selected',
                style={'backgroundColor': rgb_colors['lightseagreen'],'fontWeight': 'bold','font-size': '15pt','color': rgb_colors['white']},
                selected_style ={'backgroundColor': rgb_colors['lightsalmon'],'fontWeight': 'bold','font-size': '15pt'}
            ),
            dcc.Tab(
                label='Exploracion datos Habitos de Pago',
                value='tab-3', className='custom-tab',
                selected_className='custom-tab--selected',
                style={'backgroundColor': rgb_colors['lightseagreen'],'fontWeight': 'bold','font-size': '15pt','color': rgb_colors['white']},
                selected_style ={'backgroundColor': rgb_colors['lightsalmon'],'fontWeight': 'bold','font-size': '15pt'}
                
            ),
            dcc.Tab(
                label='KPI',
                value='tab-5', className='custom-tab',
                selected_className='custom-tab--selected',
                style={'backgroundColor': rgb_colors['lightseagreen'],'fontWeight': 'bold','font-size': '15pt','color': rgb_colors['white']},
                selected_style ={'backgroundColor': rgb_colors['lightsalmon'],'fontWeight': 'bold','font-size': '15pt'}
                
            ),
            dcc.Tab(
                label='Aplicativo modelo',
                value='tab-4',
                className='custom-tab',
                selected_className='custom-tab--selected',
                style ={'backgroundColor': rgb_colors['lightseagreen'],'fontWeight': 'bold','font-size': '15pt','color': rgb_colors['white']},
                selected_style ={'backgroundColor': rgb_colors['lightsalmon'],'fontWeight': 'bold','font-size': '15pt'}
            ),
        ])



###############Contenido de primera pestaña

tabc_1_a=html.Div([
                    dbc.Row( html.H2(children='Pregunta Problema'))
    ,
                    dbc.Row(html.P("¿Cómo predecir el nivel de riesgo crediticio de un \
                                cliente al momento en que solicita una tarjeta de crédito con el Banco?" ))
    ,
                    dbc.Row( html.H2(children='Objetivo General'))
    ,
                    dbc.Row( html.P("Identificar el riesgo crediticio de los clientes para aprobar o negar \
                                    una tarjeta de crédito del Banco, y así poder tener una cartera de clientes más sana."))
    ,
                    dbc.Row(html.H2(children='Objetivos específicos'))
    ,
                    dbc.Row( html.Label("1.Identificar las características que permiten determinar la aprobación\
                    o negación de una tarjeta de crédito."))
     ,
                    dbc.Row( html.Label("2.Identificar la relación de las variables demográficas \
                    y variables asociadas al hábito de pago de los clientes."))
    ,
                    dbc.Row( html.Label("3.Visualizar las principales características demográficas\
                    y de hàbitos de pagos de los clientes."))
    ,
                    dbc.Row( html.Label("4.Generar un aplicativo que permita evaluar si se puede otorgar \
                    o no una tarjeta de crédito a un cliente en el momento que la está solicitando."))
    ,
                    dbc.Row( html.H2(children='Entendimiento de los datos'))
    ,
                    dbc.Row( html.Label("Para el desarrollo del proyecto se trabajarán 2 datasets de un banco,\
                    que contienen información relacionada con los hábitos de pago de los clientes e información \
                    demográfica de los mismos, y las cuales se conoce que fueron trabajadas y desarrolladas en cursos \
                    realizados en China, pero sobre las cuales se desconoce su origen. Estas bases de datos, permitirán \
                    definir a quiénes se aprueba o no una tarjeta de crédito."))

    ],style={'display': 'block'})
    

tabc_1_b=html.Div([
    
    html.H1(children='Integrantes',
           style={
            'textAlign': 'center',
            'backgroundColor': rgb_colors['steelblue'],
            'background-size': '300px 300px', 
            'color': rgb_colors['white'], 'marginTop':20,'marginBottom': 10})
    ,
    imagen_nombres
],style={'height':'220px','backgroundColor': rgb_colors['lightblue']})
        
    
tabc_1 =[tabc_1_a,tabc_1_b]      
         
##########Contenido de la segunda pestaña

tabc_2_a= html.Div([
        html.Div([
          dcc.Dropdown(id='variable', 
                    options=[{'label': i, 'value': i} for i in df.columns.drop(['ID','EDAD'])],
                    value='GENERO',
                    placeholder="Select ",
                    multi=False,
                    style={'width': '250px','display': "block",'marginTop': 20, 'marginBottom': 10}
                      ) 
            ,
            html.P(children='',id='Descripcion_roll',style={'width': '250px','display': 'block'})
                ],style={"margin-left": "20px",'display': 'inline-block','float': 'left'})
        ,
        
     html.Div([
      dcc.Graph(figure=fig1,id='histo_1',style={'border':'2px black solid',"margin-right": "20px",'marginBottom': 10,'marginTop': 20,'width': '600px','display': 'inline-block','float': 'right'}),
      dcc.Graph(id='histo_2',style={'border':'2px black solid','marginBottom': 10,'marginTop': 20,"margin-right": "20px",'width': '600px','display': 'inline-block','float': 'center'})
      ],style={'display': 'inline-block','float': 'right'})    
    ],style={'height':'470px','display': 'block'},className='row')



tabc_2_b=html.Div([
    dbc.Row(
    html.H2(children='Dataset variables demográficas: Application_record'),
         style={
            'textAlign': 'left',
            'backgroundColor': rgb_colors['steelblue'],
            'background-size': '300px 300px', 
            'color': rgb_colors['white'], 'marginTop':0,'marginBottom': 10})
    
    ,
    dbc.Row( html.Label("Este dataset cuenta con 18 variables, que se distribuyen de la siguiente manera:\
                    6 numéricas, 10 categóricas y 2 booleanas. Además, este dataset cuenta con 438.557 observaciones, \
                    entre las cuales solo la variable OCCUPATION_TYPE tiene valores nulos."))
                  
                  ],style={'height':'80px','display': 'block'})
tabc_2=[tabc_2_b,tabc_2_a,tabc_1_b]

##########Contenido de la tercera pestaña
# dict_columns['STATUS']
# dict_columns['MONTHS_BALANCE']
tabc_3_a=html.Div([
   
        html.Div([
          html.P(children=dict_columns['STATUS'],style={'width': '335px','display': 'block','whiteSpace': 'pre-wrap','font-size': '15pt'}) 
            , 
          html.P(children=dict_columns['MONTHS_BALANCE'],style={'width': '335px','display': 'block','whiteSpace': 'pre-wrap','font-size': '15pt'})
                ],style={"margin-left": "20px",'display': 'inline-block','float': 'left'})
        ,
        html.Div([
          dcc.Graph(figure=fig2,style={'border':'2px black solid',"margin-right": "20px",'marginBottom': 10,'marginTop': 20,'width': '580px','display': 'inline-block','float': 'right' }),
          dcc.Graph(figure=fig_2_1,style={'border':'2px black solid','marginBottom': 10,'marginTop': 20,"margin-right": "20px",'width': '580px','display': 'inline-block','float': 'center'})
          ],style={'display': 'inline-block','float': 'right'})    
              
    
],style={'height':'470px','display': 'block'})



tabc_3_b=html.Div([
    dbc.Row(
    html.H2(children='Dataset hábitos de pago: Credit_record'),
         style={
            'textAlign': 'left',
            'backgroundColor': rgb_colors['steelblue'],
            'background-size': '300px 300px', 
            'color': rgb_colors['white'], 'marginTop':0,'marginBottom': 10})
    
    ,
    dbc.Row( html.Label("Este dataset cuenta con 3 variables, que se distribuyen de la siguiente manera:\
                     2 numéricas y 1 categórica. Además, este dataset cuenta con 1.045.575 observaciones.",style={'font-size': '16pt'}))
 
                  
                  ],style={'height':'80px','display': 'block'})

tabc_3=[tabc_3_b,tabc_3_a,tabc_1_b]

##########Contenido de la cuarta pestaña
###Parte A
tabc_4_a=  html.Div([
    
    html.Div([
        html.Label('Genero',style={'width': '150px'}),
    dcc.RadioItems(id='radio_genero',options=[{'label': 'Mujer', 'value': 0},
                                             {'label': 'Hombre', 'value': 1}],
                      value=0,
                      labelStyle={'display': 'inline-block'},
                      style={'width': '150px'})        
        ],style={'display': 'inline-block','border':'2px black solid','backgroundColor': rgb_colors['white'],"margin-left": "20px"}),
    
     html.Div([
        html.Label('Casa Propia',style={'width': '150px'}),
    dcc.RadioItems(id='radio_casa',options=[{'label': 'Si', 'value': 1},
                               {'label': 'No', 'value': 0}],
                      value=1,
                      labelStyle={'display': 'inline-block'},
                      style={'width': '100px'})        
        ],style={'display': 'inline-block','border':'2px black solid','backgroundColor': rgb_colors['white'],"margin-left": "20px"}),
    
   
     html.Div([
        html.Label('Tipo de vivienda',style={'width': '150px'}),
    dcc.RadioItems(id='radio_vivienda',options=[{'label': 'Arriendo', 'value': 1},
                                                {'label': 'Apto municipal', 'value': 2},
                                                {'label': 'Apto compartido', 'value': 3},
                                                {'label': 'Apto oficina', 'value': 4},
                                                {'label': 'Familiar', 'value': 5},
                                                {'label': 'Propia', 'value': 6}
                                               ],
                      value=1,
                      labelStyle={'display': 'inline-block'},
                      style={'width': '590px'})        
        ],style={'display': 'inline-block','border':'2px black solid','backgroundColor': rgb_colors['white'],"margin-left": "20px"}),
    
 html.Div([
        html.Label('Nivel Educativo',style={'width': '150px'}),
    dcc.RadioItems(id='radio_edu',options=[{'label': 'Educacion superior', 'value': 1},
                                                {'label': 'Superior incompleto', 'value': 2},
                                                {'label': 'Grado academico', 'value': 3},
                                            {'label': 'Secundario inferior', 'value': 4},
                                                {'label': 'Especial secundario/Secundario', 'value': 5}
                                               ],
                      value=1,
                      labelStyle={'display': 'inline-block'},
                      style={'width': '620px'})        
        ],style={'display': 'inline-block','border':'2px black solid','backgroundColor': rgb_colors['white'],"margin-left": "20px"}),
    



],style={'marginTop': 20,'display': 'block'})



###Parte B
tabc_4_b=html.Div([
    html.Div([
     html.Div(html.Label('Número de Hijos')),
  html.Div(dcc.Slider(
        id='n_hijos',
        min=0,
        max=9,
        marks={i: '. {}'.format(i) if i == 0 else str(i) for i in range(0, 10)},
        value=1) ,style={'width': '250px'} )     
        
    ],style={'display': 'inline-block','border':'2px black solid','backgroundColor': rgb_colors['white'],"margin-left": "20px"}),

     html.Div([
     html.Div(html.Label('Número de familiares')),
  html.Div(dcc.Slider(
        id='n_familiares',
        min=1,
        max=9,
        marks={i: '. {}'.format(i) if i == 0 else str(i) for i in range(1, 10)},
        value=1) ,style={'width': '250px'} )     
        
    ],style={'display': 'inline-block','border':'2px black solid','backgroundColor': rgb_colors['white'],"margin-left": "20px"}),

    
    html.Div([
     html.Div(html.Label('Edad')),
  html.Div(dcc.Slider(
        id='n_edad',
        min=20,
        max=60,
        marks={i: ':{}'.format(i) if i == 20 else str(i) for i in range(20, 61)},
        value=1) ,style={'width': '800px'} )     
        
    ],style={'display': 'inline-block','border':'2px black solid','backgroundColor': rgb_colors['white'],"margin-left": "20px"}),

],style={'marginTop': 20,'display': 'block'})




###Parte C

tabc_4_d=html.Div(id='div_ocu',children=[
    html.Div([
        html.Label('Fecha de ingreso laboral: ',style={'width': '180px'}),
        dcc.DatePickerSingle(
            id='fecha_ing',
    date='2010-06-21',
    display_format='D/MM/Y')     
        ],style={'display': 'inline-block','border':'2px black solid','backgroundColor': rgb_colors['white'],"margin-left": "20px"}),
    
  html.Div([
        html.Label(children='Tipo de trabajo ',style={'width': '150px'}),
    dcc.RadioItems(id='radio_tipo_trabajo',options=[{'label': 'Oficna', 'value': 1},
                                            {'label': 'Tecnologia', 'value': 2},
                                            {'label': 'Normal', 'value': 3}
                                           ],
                      value=1,
                      labelStyle={'display': 'inline-block'},
                      style={'width': '240px'})        
        ],style={'display': 'inline-block','border':'2px black solid','backgroundColor': rgb_colors['white'],"margin-left": "20px"}),
    
    
    
],style={'height':'200px','display': 'inline-block','marginTop':0})


tabc_4_c=html.Div([
     html.Div([
        html.Label('Estado Civil',style={'width': '150px'}),
    dcc.RadioItems(id='radio_e_civil',options=[{'label': 'Matrimonio civil', 'value': 1},
                                            {'label': 'Casado', 'value': 2},
                                            {'label': 'Soltero', 'value': 3},
                                            {'label': 'Separado', 'value': 4},
                                            {'label': 'Viudo', 'value': 5}],
                      value=1,
                      labelStyle={'display': 'inline-block'},
                      style={'width': '300px'})        
        ],style={'display': 'inline-block','border':'2px black solid','backgroundColor': rgb_colors['white'],"margin-left": "20px"}),
    
    html.Div([
        html.Label('Tiene Vehiculo',style={'width': '150px'}),
    dcc.RadioItems(id='radio_t_vehiculo',options=[{'label': 'Si', 'value': '1'},
                                            {'label': 'No', 'value': '0'}
                                           ],
                      value='1',
                      labelStyle={'display': 'inline-block'},
                      style={'width': '100px'})        
        ],style={'display': 'inline-block','border':'2px black solid','backgroundColor': rgb_colors['white'],"margin-left": "20px"}),
    
     html.Div([
        html.Label('Tiene telefono de trabajo ?',style={'width': '150px'}),
    dcc.RadioItems(id='radio_tel_trabajo',options=[{'label': 'Si', 'value': 1},
                                            {'label': 'No', 'value': 0}
                                           ],
                      value=1,
                      labelStyle={'display': 'inline-block'},
                      style={'width': '150px'})        
        ],style={'display': 'inline-block','border':'2px black solid','backgroundColor': rgb_colors['white'],"margin-left": "20px"}),
    
     html.Div([
        html.Label('Tiene actualmente trabajo ?',style={'width': '150px'}),
    dcc.RadioItems(id='radio_trabajo',options=[{'label': 'Si', 'value': 1},
                                            {'label': 'No', 'value': 0}
                                           ],
                      value=1,
                      labelStyle={'display': 'inline-block'},
                      style={'width': '150px'})        
        ],style={'display': 'inline-block','border':'2px black solid','backgroundColor': rgb_colors['white'],"margin-left": "20px"}),
    tabc_4_d
    
    
    ],style={'marginTop': 20,'display': 'block'})


##desplegables opcionales



tabc_4_e= html.Div(style={'height':'180px','display': 'block','marginBottom':0},
                  children=(html.H1(id='div_res_modelo',children='Integrantes',
           style={
            'textAlign': 'center',
            'backgroundColor': rgb_colors['steelblue'],
            'background-size': '300px 300px', 
            'color': rgb_colors['white'], 'marginTop':10,'marginBottom': 10}))
                  
                  
                  
                  )   

###Union partes 4 pestaña
tabc_4=[tabc_4_a,tabc_4_b,tabc_4_c,tabc_4_e,tabc_1_b]

#### Contenido 5 pestaña KPI

text_kpi='Esta gráfica podría verse como una versión promedio (a lo largo de un mes abierto) de la gráfica del kpi.\
Para una fecha de vencimiento más larga, necesita una ventana de observación más larga. \
Por ejemplo, más de 150 días de atraso necesita al menos 5 meses hasta que aparezca el primer \
mal cliente. Para la mayoría de las situaciones, una ventana de observación de 20 meses podría \
cubrir a la mayoría de los clientes malos. Sin embargo, durante los 30 días de vencimiento, \
pudimos ver que después de 30 meses en el historial, todavía hay nuevos malos clientes que se unen a la lista.\
Por lo tanto, una ventana de observación de 20 meses en el Historial será apropiada. Aquellos que existan más cortos \
que la ventana de observación deben ser excluidos de nuestro análisis, por lo que podría ver que eliminé usuarios \
cuya ventana de observación sea menor a 20 en la última sección (la ventana podría cambiarse). '
tabc_5_a= html.Div([
        html.Div([
        
            html.P(children=text_kpi,id='Descripcion_kpi',style={'width': '700px','display': 'block','font-size': '17pt'})
                ],style={"margin-left": "100px",'display': 'inline-block','float': 'left'})
        ,
        
     html.Div([
      dcc.Graph(figure=kpi_figura,id='kpi_figura',style={'border':'2px black solid',"margin-right": "120px",'marginBottom': 10,'marginTop': 20,'width': '900px','display': 'inline-block','float': 'right'})

      ],style={'display': 'inline-block','float': 'right'})    
    ],style={'height':'470px','display': 'block'},className='row')



tabc_5_b=html.Div([
    dbc.Row(
    html.H1(children='KPI'),
         style={
            'textAlign': 'left',
            'backgroundColor': rgb_colors['steelblue'],
            'background-size': '300px 300px', 
            'color': rgb_colors['white'], 'marginTop':0,'marginBottom': 10})
                  
                  ],style={'height':'80px','display': 'block'})
tabc_5=[tabc_5_b,tabc_5_a,tabc_1_b]

##################### Create app
# app = JupyterDash(external_stylesheets=[dbc.themes.BOOTSTRAP])
app = JupyterDash(__name__)
app.config['suppress_callback_exceptions'] = True   

########################################################################################################################
########################################### Define Layout###############################################################
########################################################################################################################
app.layout = dbc.Container(
html.Div(style={'height':'740px','backgroundColor': rgb_colors['lightblue']},children=[ 
  encabezado
    ,
  menu_tab
    ,
  html.Div(id='tabs-content-classes',style={'display': 'block','marginBottom':0})   
]))## cierre div principal


@app.callback(Output('tabs-content-classes', 'children'),
              Input('tabs-with-classes', 'value'))
def render_content(tab):
    if tab == 'tab-1':
        return tabc_1
    elif tab == 'tab-2':
        return tabc_2
    elif tab == 'tab-3':
        return tabc_3
    elif tab == 'tab-4':
        return tabc_4
    elif tab == 'tab-5':
        return tabc_5


@app.callback(Output('histo_2','figure'),
    [Input('variable', 'value')])
def update_output(value):
    pie=['GENERO','TIENE_TEL_TRJ','TIENE_TELFIJO','TIENE_EMAIL','VEHICULO', 'PROPIEDADES','ESTADO_CIVIL','T_VIVIENDA']
    if value in pie:
        fig = px.pie(df_dash,value,title=value)
    else:
        fig = px.histogram(df_dash,x=value,title=value)
    return fig

# @app.callback(Output('histo_4','figure'),
#     [Input('variable_2', 'value')])
# def update_output(value):
#     pie=['STATUS']
#     fig = px.pie(df3,'STATUS',title='STATUS %')
#     return fig

@app.callback(Output('Descripcion_roll', 'children'),
    [Input('variable', 'value')])
def update_output(value):
    desc = dict_columns[value]
    return desc


# @app.callback(Output('Descripcion_roll_2', 'children'),
#     [Input('variable_2', 'value')])
# def update_output(value):
#     desc = dict_columns[value]
#     return desc
  
    
@app.callback(
   Output(component_id='div_ocu', component_property='style'),
   [Input(component_id='radio_trabajo', component_property='value')])
def show_hide_element(visibility_state):
    if visibility_state == 1:
        return {'display': 'inline-block','marginTop':30}
    if visibility_state == 0:
        return {'display': 'none'}
# style={'height':'200px','display': 'block'}


@app.callback([Output('div_res_modelo', 'children'),
              Output('div_res_modelo', 'style')],
    [Input('radio_genero', 'value'),
    Input('radio_casa', 'value'),
    Input('n_hijos', 'value'),
    Input('radio_tel_trabajo', 'value'),
    Input('n_edad', 'value'),
    Input('n_familiares', 'value'),
    Input('radio_vivienda', 'value'),
    Input('radio_edu', 'value'),
    Input('radio_e_civil', 'value'),
    Input('radio_trabajo', 'value'),
    Input('fecha_ing', 'date'),
     Input('radio_tipo_trabajo', 'value')
    
    ])
def update_output(genero,casa,hijos,tel,edad_n,familiares_n,tip_vivienda,n_edu,n_est_civil,tien_trabajo,fecha_ing,tip_trabajo):
    if hijos==0:
        hijo_1=0
        hijo_2=0
    elif hijos==1:
        hijo_1=1
        hijo_2=0
    else:
        hijo_1=0
        hijo_2=1
    #### Edad intervalos
    edad_20_30=0
    edad_30_40=0
    edad_50_60=0
    mayores_60=0    
    if edad_n in range(20,30):
        edad_20_30=1
    elif edad_n in range(30,40):
        edad_30_40=1
    elif edad_n in range(50,60):
        edad_50_60=1
    elif edad_n in range(60,80):
        mayores_60=1
    ### numero de familiares
    tamfam_1=0
    tamfam_3mas=0
    if familiares_n==1:
        tamfam_1=1
    elif familiares_n>2:
        tamfam_3mas=1
    ## tipo vivienda
    apto_compartido=0
    Apt_municipal=0
    apt_oficina=0
    apt_arrendado=0
    apt_padres=0
    if tip_vivienda==1:
        apt_arrendado=1
    elif tip_vivienda==2:
        Apt_municipal=1
    elif tip_vivienda==3:
        apto_compartido=1
    elif tip_vivienda==4:
        apt_oficina=1
    elif tip_vivienda==5:
        apt_padres=1
    ### Nivel educativo
    edu_sup=0
    edusup_incompleta=0
    Secundaria=0
    if n_edu==1:
        edu_sup=1
    elif n_edu==2:
        edusup_incompleta=1
    elif n_edu==5:
        Secundaria=1
    ## Estado Civil
    Casado=0
    Separado=0
    Soltero=0 
    Viudo=0
    if n_est_civil in [1,2]:
        Casado=1
    elif n_est_civil==3:
        Soltero=1
    elif n_est_civil==4:
        Separado=1
    elif n_est_civil==5:
        Viudo=1
    ## situacion laboral
    empleo_30_40=0
    empleo_mas40=0
    empleo_10_20=0
    empleo_20_30=0
    tbj_tech=0
    tbj_oficina=0
    if tien_trabajo ==1:
        
        fecha=pd.to_datetime(fecha_ing)
        dif=int ((pd.to_datetime(date.today())-fecha).days/365)
        if dif >0:
             if dif in range(10,20):
                empleo_10_20=1
             elif dif in range(20,30):
                empleo_20_30=1
             elif dif in range(30,40):
                empleo_30_40=1
             elif dif >=40:
                empleo_mas40=1
        if tip_trabajo==1:
            tbj_oficina=1
        elif tip_trabajo==2:
            tbj_tech=1
    valor_respuesta=miprimeralogistica.predict([[genero,casa,hijo_1,hijo_2,tel,edad_50_60,mayores_60,edad_30_40,edad_20_30,empleo_30_40,empleo_mas40,empleo_10_20,empleo_20_30,tbj_tech,tbj_oficina,tamfam_1,tamfam_3mas,apto_compartido,Apt_municipal,apt_oficina,apt_arrendado,apt_padres,edu_sup,edusup_incompleta,Secundaria,Casado,Separado,Soltero,Viudo]])
    if valor_respuesta==0:
        return 'Tarjeta de credito Aprobada',  {'font-size': '40pt','textAlign': 'center','backgroundColor': rgb_colors['green'],'background-size': '300px 300px', 'color': rgb_colors['black'], 'marginTop':60,'marginBottom': 10}
    else:
        return 'Tarjeta de credito Rechazada', {'font-size': '40pt','textAlign': 'center','backgroundColor': rgb_colors['red'],'background-size': '300px 300px', 'color': rgb_colors['white'], 'marginTop':60,'marginBottom': 10}
    
    
    
if __name__ == '__main__':
    app.run_server(debug=True)

n
Dash app running on http://127.0.0.1:8050/